{% extends 'base.html' %}

{% block content %}

<h1>Details {{user.id}}</h1>
<div class="section">
    <div class="container">
        <h2>{{ listing.name }}</h2>
        <div class="listing-imgs">
            <img src="{{ listing.main_img }}" class="listing-img">
            <div class="second-img">
                <img src="{{ listing.second_img }}" class="listing-img">
                <img src="{{ listing.third_img }}" class="listing-img">
            </div>
            <div class="second-img">
                <img src="{{ listing.fourth_img }}" class="listing-img">
                <img src="{{ listing.fith_img }}" class="listing-img">
            </div>
        </div>
        <ul class="listing-info">
            <li>{{ listing.arc_type }}</li>
            <li>Built in {{ listing.yearbuilt }}</li>
            <li>{{ listing.guest_num }} Guests</li>
            <li>{{ listing.bedrooms }} Bedrooms</li>
            <li>{{ listing.bathrooms }} Bath</li>
            <li>{{ listing.description }}</li>
        </ul>
        
        <form action="{% url 'add_booking' listing.id %}" method="POST">
            {% csrf_token %}
            <!-- Render the inputs -->
            {{ booking_form.as_p }}
            <input type="submit" class="btn" value="Add Booking">
        </form>
      
    </div>
</div>


{% endblock %}