{% extends 'base.html' %}

{% block content %}
<div class="section">
    <div class="container">
        <h1>Your Trips</h1>
        <div class="listing-grid">
            {% for booking in bookings %}
            <a href="{% url 'booking_detail' booking.id %}">
                <div class="listing-tile">
                    <img src="{{ booking.listing.main_img }}" alt="">
                    <h3>{{ booking.listing.name }}</h4>
                    <h4><span class="bold">{{ booking.checkin }} - {{ booking.checkout }}</span></h4>
                </div>
            </a>
            {% endfor %}
         </div>
    </div>
</div>
    



{% endblock %}