{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>arcbnb</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body id="body">
    <div id="bottomborder" class="section">
        <div class="container">
            <nav>
                <div class="left">
                    <a href="{% url 'home' %}"><img src="{% static 'images/arc.logo.svg' %}" alt=""></a>
                </div>
                <div class="right">
                    <a href="{% url 'index' %}">Explore Listings</a>
                    {% if user.is_authenticated %}
                        <div id="user_menu">
                            <img id="hamburger" src="{% static 'images/hbg.svg' %}" alt="">
                            <img id="profileimg" src="{% static 'images/user.svg' %}" alt="">
                        </div>
                        <div id="dropdown">
                            <a class="dropdown_link" href="{% url 'bookings' %}">Trips</a>
                            <a class="dropdown_link" href="">Wish List</a>
                            <a id="logout" class="dropdown_link" href="{% url 'logout' %}">Log Out</a>
                        </div>
                        <!-- <a href="{% url 'bookings' %}">My Bookings</a>
                        <a href="{% url 'logout' %}">Log Out</a> -->
                    {% else %}
                        <!-- <a href="{% url 'signup' %}">Sign Up</a> -->
                        <a href="{% url 'login' %}">Log In</a>
                    {% endif %}
                </div>

            </nav>
        </div>
    </div>
    {% block content %}
    {% endblock %}

    <footer>
        All Rights Reserved, &copy; 2023 arcbnb &nbsp;</div>
    </footer>

    <script>
        const targetDiv = document.getElementById("dropdown");
        const btn = document.getElementById("user_menu");
        targetDiv.style.display = "none"
        btn.onclick = function () {
            if (targetDiv.style.display === "none") {
                targetDiv.style.display = "flex";
            } else if ((targetDiv.style.display === "flex")) {
                targetDiv.style.display = "none";
            }
        };
      </script>
</body>