* {
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f4efff;
    font-family: 'Open Sans', sans-serif;
    color: black;
    min-height: 100vh;
    width: 100vw;
}

h2 {
    all: unset;
    font-size: 22px;
    font-weight: 700;
    padding: 0 0 20px 0;
}

h3 {
    all: unset;
    margin: 10px 0 5px;
    font-size: 15px;
    font-weight: 700;
}

h4 {
    all: unset;
    font-size: 12px;
}

p {
    font-size: 18px;
    font-weight: 200;
}

nav {
    width: 100%;
    padding: 10px 0;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f4efff;
    z-index: 1;
}

a {
    all: unset;
    cursor: pointer;
}

nav img {
    height: 35px;
}

.right {
    position: relative;
    display: flex;
    align-items: center;
}

.right a {
    margin: 0 20px 0 0;
    padding: 10px 15px;
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
    color: black;
    border-radius: 40px;
    transition: 250ms;
}

.right a:hover {
    background-color: #c9c6c3;
}

#user_menu {
    padding: 4px 2px 4px 10px;
    position: relative;
    display: flex;
    z-index: 45;
    align-items: center;
    border-radius: 40px;
    border: solid 1px #d9d7d4;
    cursor: pointer;
    transition: 250ms;
}

#user_menu:hover {
    box-shadow: 0 3px 3px #d9d7d4;
}

#hamburger {
    height: 18px;
    margin-right: 10px;
}

#profileimg {
    height: 28px;
}

#dropdown {
    padding: 10px 0;
    position: absolute;
    display: none;
    overflow: hidden;
    flex-direction: column;
    z-index: 1;
    top: 45px;
    right: 0;
    border-radius: 20px;
    background-color: #f7f4efff;
    box-shadow: 0 4px 10px 0px rgba(68, 68, 68, 0.2);
}

#dropdown a {
    padding: 10px 100px 10px 15px;
    margin: 0;
    border-radius: 0;
}

#logout {
    margin-top: 20px !important;
    font-weight: 300;
    border-top: solid 1px #d9d7d4;
}

#filter_list {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
}

.feature_tile {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    opacity: 65%;
    cursor: pointer;
    transition: opacity 250ms;
}
.current_tile {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    opacity: 100%;
    cursor: pointer;
    transition: opacity 250ms;
    margin-bottom: -2px;
    border-bottom: solid 2px black;
}

.feature_tile:hover {
    opacity: 100%;
    margin-bottom: -2px;
    border-bottom: solid 2px lightgray;
}

#feature_icon {
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
}


.section {
    width: 100%;
    max-width: 100vw;
    padding: 0, 30px;
}

#bottomborder {
    padding: 0px !important;
    width: 100%;
    max-width: 100vw;
    position: sticky;
    top: 0;
    background-color: #f7f4efff;
    border-bottom: solid 1px #d9d7d4;
    z-index: 1;
    /* overflow: hidden; */
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    padding: 50px 30px;
    overflow: hidden;
    
}

#bottomborder > .container {
    padding: 0px !important;
    overflow: visible;
}
.listing-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    column-gap: 20px;
    row-gap: 30px;
}

.listing-tile {
    display: flex;
    flex-direction: column;
    opacity: 90%;
    cursor: pointer;
    transition: 250ms;
}

.listing-tile:hover {
    opacity: 100%;
}

.listing-tile img {
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 12px;
}


.bold {
    font-weight: bold;
}

.listing-info {
    display: flex;
    width: 100%;

}

.listing-img {
    object-fit: cover;
    height:100%;
    width: 50%;
}

.listing-imgs {
    width: 100%;
    height: 50vh;
    display: flex;
    overflow: hidden;
    column-gap: 10px;
    border-radius: 12px;
}

.second-img {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.second-img img {
    height: 50%;
    width: 100%;
}

.listing-info {
    display: flex;
    padding-top: 40px;

}

.listing-detail {
    width: 65%;
    padding-right: 60px;
}

.listing-detail > p {
    margin-top: 40px;
    padding: 40px 0;
    border-top: solid 1px #d9d7d4;
}

.booking-form {
    width: 35%;
}

.light {
    font-weight: 200px !important;
}

.booking-form > form {
    border: solid 1px #d9d7d4;
    padding: 20px 15px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(68, 68, 68, 0.2);
    overflow: hidden;
}

.btn-div {
    display: flex;
    margin-top: 40px; 
    text-align: center;
}

.btn {
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    background-color: #D92064;
    color: white;
    font-size: 18px;
    margin-right: 15px;
    text-align: center;
    transition: 250ms;
    border: solid 2px #D92064;
    cursor: pointer;
}

.btn-2 {
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    text-decoration: underline;
    background-color: transparent;
    color: #D92064;
    border: solid 2px transparent;
    font-size: 14px;
    cursor: pointer;
    transition: 250ms;
}

.btn:hover {
    background-color: transparent;
    color: #D92064;
    border: solid 2px #D92064;
}

.btn-2:hover {
    background-color: transparent;
    color: #D92064;
    border: solid 2px #D92064;
    font-size: 18px;
}

.cancel {
    margin-top: 10vh;
}

.accommodation {
    display: flex;
}

.accommodation > h4 {
    font-size: 18px;
    font-weight: 300;
    margin: 10px 5px 0 0;
}

.feature-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 60px 0;
    border-top: solid 1px #d9d7d4;
    border-bottom: solid 1px #d9d7d4;
}

.feature-table > div {
    display: flex;
    align-content: center;
    gap: 14px;
}

.feature-table > h2 {
    grid-column: span 2;
}

footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 5px;
    border-top: solid 1px #d9d7d4;
    background-color: #f7f4efff;
}

/* change */