{% extends 'base.html' %}

{% block content %}

<div class="section">
    <div class="container">
        <div id="filter_list">
            {% for feature in features %}
                {% if current == feature.id %}
                <a class="current_tile" href="{% url 'index_feature' feature.id %}"> 
                    <img id="feature_icon" src="{{ feature.icon }}" alt="">
                    {{ feature.name }} 
                </a>
                {% else %}
                    <a class="feature_tile" href="{% url 'index_feature' feature.id %}"> 
                        <img id="feature_icon" src="{{ feature.icon }}" alt="">
                        {{ feature.name }} 
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        
    
        <div class="listing-grid">
            {% for listing in listings %}   
            <a href="{% url 'detail' listing.id %}">
                <div class="listing-tile">
                    <img src="{{ listing.main_img }}" alt="">
                    <h3>{{ listing.name }}</h3>
                    <h4><span class="bold">${{ listing.price }}</span> night</h4>
                </div>
            </a>
            {% endfor %}
         </div>
    </div>
</div>

<script>
    const feature = document.getElementsByClassName('feature_tile')

</script>

{% endblock %}